* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 230, 1), rgba(0, 0, 100, 1));
}

a {
  color: white;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #dadadaee;
}

body::-webkit-scrollbar-corner {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}
