.questionContainer {
  padding: 4rem 6rem;
  color: white;
}

.btnGrup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.numberQuestions {
  font-size: 36px;
}

.choices {
  padding: 0.6rem 0;
}

.question {
  border-bottom: 2px solid rgb(220, 220, 220);
  padding: 0.5rem;
  font-size: 17px;
}

.questionTitle {
  font-size: 20px;
  padding: 10px 0px 0px 5px;
}

.quizContainer {
  border: 3px solid rgb(220, 220, 220);
  border-radius: 12px;
  padding: 5px 30px 15px 25px;
  background: linear-gradient(rgba(0, 0, 172, 0.2), rgba(0, 140, 255, 0.2));
}
