.modalContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  color: black;
}

.modal {
  background-color: white;
  padding: 1rem 2rem;
  height: 400px;
  width: 400px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader {
  display: flex;
  justify-content: end;
}

.close {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  transition: 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.modalcontent {
  height: 90%;
  font-size: 18px;
}

.modalFooter {
  height: 8%;
  font-size: 22px;
}
